<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.artifex.mupdfdemo"
    android:versionCode="50"
    android:versionName="1.9a (git build)">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application>
        <!-- enable any of these built-in activities in your app by copying them in your app manifest -->
<!--        <activity-->
<!--            android:name="ChoosePDFActivity"-->
<!--            android:label="@string/mupdflib_app_name"-->
<!--            android:theme="@style/AppBaseTheme">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="MuPDFActivity"-->
<!--            android:label="@string/mupdflib_app_name"-->
<!--            android:theme="@style/AppBaseTheme">-->
<!--            <intent-filter tools:ignore="AppLinkUrlError">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <data android:mimeType="application/vnd.ms-xpsdocument" />-->
<!--                <data android:mimeType="application/xps" />-->
<!--            </intent-filter>-->
<!--            <intent-filter tools:ignore="AppLinkUrlError">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:mimeType="application/pdf" />-->
<!--            </intent-filter>-->
<!--            <intent-filter tools:ignore="AppLinkUrlError">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:mimeType="application/x-cbz" />-->
<!--            </intent-filter>-->
<!--            <intent-filter tools:ignore="AppLinkUrlError">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:mimeType="application/epub+zip" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:scheme="file" />-->
<!--                <data android:mimeType="*/*" />-->
<!--                <data android:pathPattern=".*\\.xps" />-->
<!--                <data android:host="*" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:scheme="file" />-->
<!--                <data android:mimeType="*/*" />-->
<!--                <data android:pathPattern=".*\\.pdf" />-->
<!--                <data android:host="*" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:scheme="file" />-->
<!--                <data android:mimeType="*/*" />-->
<!--                <data android:pathPattern=".*\\.cbz" />-->
<!--                <data android:host="*" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:scheme="file" />-->
<!--                <data android:mimeType="*/*" />-->
<!--                <data android:pathPattern=".*\\.epub" />-->
<!--                <data android:host="*" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="OutlineActivity"-->
<!--            android:label="@string/mupdflib_outline_title"-->
<!--            android:theme="@style/AppBaseTheme"></activity>-->
<!--        <activity-->
<!--            android:name="PrintDialogActivity"-->
<!--            android:label="@string/mupdflib_print"-->
<!--            android:theme="@style/AppBaseTheme"></activity>-->

    </application>
</manifest>
